body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#listaTareas {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.tarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tarea span {
    cursor: pointer;
}

.tarea .check {
    margin-right: 10px;
}

.tarea-lista {
    border-left: 5px solid #007bff; /* Bordes azules para tareas de lista */
    padding-left: 10px;
}

.tarea .check-lista {
    margin-right: 10px;
}

#formularioTarea {
    max-width: 300px;
    margin: auto;
}

.grupo-formulario {
    margin-bottom: 20px;
}

.btn-primario {
    background-color: #007bff;
    border: none;
}

.btn-primario:hover {
    background-color: #0056b3;
}

.btn-peligro {
    background-color: #dc3545;
    border: none;
}

.btn-peligro:hover {
    background-color: #c82333;
}

.barra-progreso {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.celda-progreso {
    flex: 1;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    transition: background-color 0.3s ease-in-out;
}
